Repository ManuelRuiz27/-monotickets-final, changes with the labels that .github/labeler.yml gives for each.
All labels: component:frontend, component:backend, component:infra, type:e2e, type:smoke, type:contract, type:performance

.github/labeler.yml:

component:frontend:
  - frontend/**
  - apps/frontend/**
  - pwa/**
component:backend:
  - backend/**
  - services/**
  - apps/backend/**
component:infra:
  - infra/**
  - .github/**
  - docker/**
  - tests/Dockerfile
  - docker-compose.yml
type:e2e:
  - tests/e2e_**/**
  - tests/testsprite.config.*
type:smoke:
  - infra/check-*.sh
  - .github/workflows/smoke.yml
type:contract:
  - tests/api_contract/**
type:performance:
  - tests/perf_k6/**

Add WhatsApp session tracking to delivery logs
  backend/src/db/bootstrap.js
  backend/src/lib/phone.js
  backend/src/modules/delivery.js
  backend/src/worker.js
  docs/DELIVERY.md
  docs/bi/README.md
  docs/bi/kpis.md
  docs/bi/metabase-dashboards.md
  infra/migrations/010_scan_delivery.sql
  infra/migrations/030_indexes.sql
  infra/migrations/040_seed.sql
  infra/migrations/100_mv_kpis.sql
  tests/e2e_delivery/delivery-flows.spec.ts
  tests/e2e_delivery/wa-session-window.spec.ts
  tests/e2e_delivery/wa-webhook.spec.ts
Labels: component:backend, component:infra, type:e2e

feat: automate partition maintenance
  backend/package.json
  backend/scripts/cleanup-log-partitions.js
  backend/src/jobs/log-partition-maintenance.js
  backend/src/worker.js
  backend/test/log-partition-maintenance.test.js
  docs/bi/kpis.md
  docs/db/README.md
Labels: component:backend

Automate Metabase dashboards and CI sync
  .github/workflows/ci.yml
  docs/bi/README.md
  infra/refresh-bi-views.sh
  package.json
  scripts/bi/setup-metabase-dashboards.js
Labels: component:infra

Add queue metrics instrumentation and dashboards
  backend/src/server.js
  backend/src/worker.js
  docs/load-tests.md
  docs/observability.md
  infra/monitoring/grafana-dashboards/latency-api.json
  infra/monitoring/prometheus.example.yml
Labels: component:backend, component:infra

feat: add dashboard auth and env configuration
  frontend/dashboard/app/_components/DashboardHeader.tsx
  frontend/dashboard/app/layout.tsx
  frontend/dashboard/app/login/page.tsx
  frontend/dashboard/app/page.tsx
  frontend/dashboard/app/providers.tsx
  frontend/dashboard/lib/api/auth.ts
  frontend/dashboard/lib/api/director.ts
  frontend/dashboard/lib/api/organizer.ts
  frontend/dashboard/lib/auth/context.tsx
  frontend/dashboard/lib/auth/session.ts
  frontend/dashboard/middleware.ts
Labels: component:frontend

Enhance e2e data checks and staging automation
  .github/workflows/build-and-push.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/smoke.yml
  docs/cicd.md
  infra/migrations/040_seed.sql
  infra/scripts/apply-migrations.sh
  scripts/bi/setup-metabase-dashboards.js
  tests/scripts/run-e2e.js
Labels: component:infra, type:smoke

docs: finalize mvp release package
  docs/CHANGELOG.md
  docs/bi/README.md
  docs/bi/assets/api-metrics.svg
  docs/bi/assets/dashboard-organizer.svg
  docs/bi/kpis.md
  docs/db/README.md
  docs/observability.md
  env/.env.local.example
  env/.env.staging.example
  frontend/pwa/lib/api/guest.ts
  infra/migrations/040_seed.sql
Labels: component:frontend, component:infra

cambios
  backend/src/modules/delivery.js
Labels: component:backend

qa ok
  .github/workflows/ci.yml
  .github/workflows/qa.yml
  .github/workflows/smoke.yml
Labels: component:infra, type:smoke

otro ok
  .github/workflows/deploy-staging.yml
Labels: component:infra

Improve scan validation query performance
  backend/src/db/index.js
  backend/src/server.js
  infra/migrations/120_scan_validate_indexes.sql
Labels: component:backend, component:infra

Adjust PostgreSQL pool and reuse clients for guests and reports
  backend/src/db/index.js
  backend/src/modules/director.js
  backend/src/server.js
Labels: component:backend

docs: outline async reporting jobs for director
  docs/DIRECTOR.md
Labels: none

Add pagination parameters to guest listings
  backend/src/server.js
  tests/e2e_guests/guest-pagination.spec.ts
Labels: component:backend, type:e2e

feat: support clustered http server
  backend/package.json
  backend/src/index.cluster.js
  backend/src/metrics/registry.js
  backend/src/server.js
Labels: component:backend

feat: enhance monitoring telemetry
  backend/src/metrics/registry.js
  backend/src/server.js
  docs/docker-env.md
  docs/load-tests.md
  docs/observability.md
  infra/monitoring/alerts.examples/latency-error-dlq.yml
  infra/monitoring/grafana-dashboards/latency-api.json
Labels: component:backend, component:infra

Harden token rotation and request validation
  backend/src/auth/authorization.js
  backend/src/auth/middleware.js
  backend/src/auth/tokens.js
  backend/src/lib/validation.js
  backend/src/lib/zod-lite.js
  backend/src/modules/delivery.js
  backend/src/modules/director.js
  backend/src/modules/payments.js
  backend/src/server.js
  backend/test/jwt-tokens.test.js
Labels: component:backend

Harden token rotation and request validation
  backend/src/auth/authorization.js
  backend/src/auth/middleware.js
  backend/src/auth/tokens.js
  backend/src/lib/validation.js
  backend/src/lib/zod-lite.js
  backend/src/modules/delivery.js
  backend/src/modules/director.js
  backend/src/modules/payments.js
  backend/src/server.js
  backend/test/jwt-tokens.test.js
Labels: component:backend

Create docker-compose.redis.override.yml
  docker-compose.redis.override.yml
Labels: none
